body { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

.container { 
  border: 1px solid white; 
  border-radius: 0.5rem;
  min-width: 250px;
  position: absolute; 
  top: 0px; 
  text-align: center;
}

.item-text { 
  padding: 2rem 1rem; 
}

.dropdownlist div { 
  margin: 0;
  border-top: 1px solid white;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdownlist div:hover { 
  background-color: gray;
}

.dropdownlist p { 
  margin: 0
}